*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar,
.navbar>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
/* pegar arriba de la pantalla */
    border: 4px black double;
}

.navbar>ul{
    width: 50vw;
}

ul>li::marker{
    content: "";
}

#Cuerpo{

    padding: 15px;
    border: 5px double black;
    background-color: blueviolet;
}

#FotoPerfil{
    border: 3px solid gold;
    border-radius: 50%;
    width: 25vw;
}

#LinkRedes{
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#Habilidades{
        display: grid;
        >i{
            font-size: 40px;
            text-align: center;
        }
        >:nth-last-child(even){
            grid-column: 1;
        }
        >:nth-last-child(odd){
            grid-column: 2;
        }
}

footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.386);
    position:static;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 377px) {
    #Presentacion{
        background-color: yellow;
        display: flex;
        flex-flow: row nowrap;
    }
    #FotoPerfil{
        image-rendering:pixelated;
        height: 15vw;
    }
    #Habilidades>i{
        font-size: 50px;
    }
}
@media (min-width: 780px) {
    #Presentacion{
        background-color: green;
    }
    #FotoPerfil{
        height: 20vw;
    }

    #Habilidades{        
        >i{
            font-size: 60px;
        }
    }
}